<html>
  <head>
    <title>FCC ISQA Project - Personal Library</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        <b>ISQA Project</b> - Personal Library
      </h1>
    </header>
    <br>
    <div id="userstories">
      <h2>User stories:</h2>
      <ol>
        <li>Nothing from my website will be cached in my client as a security measure.</li>
        <li>I will see that the site is powered by 'PHP 4.2.0' even though it isn't as a security measure.</li>
        <li>I can <b>post</b> a <code>title</code> to /api/books to add a book and returned will be the object with the <code>title</code> and a unique <code>_id</code>.</li>
        <li>I can <b>get</b> /api/books to retrieve an aray of all books containing <code>title</code>, <code>_id</code>, & <code>commentcount</code>.</li>
        <li>I can <b>get</b> /api/books/{_id} to retrieve a single object of a book containing <code>title</code>, <code>_id</code>, & an array of <code>comments</code> (empty array if no comments present).</li>
        <li>I can <b>post</b> a <code>comment</code> to /api/books/{_id} to add a comment to a book and returned will be the books object similar to <b>get</b> /api/books/{_id}.</li>
        <li>I can <b>delete</b> /api/books/{_id} to delete a book from the collection. Returned will be 'delete successful' if successful.</li>
        <li>If I try to request a book that doesn't exist I will get a 'no book exists' message.</li>
        <li>I can send a <b>delete</b> request to /api/books to delete all books in the database. Returned will be 'complete delete successful' if successful.</li>
        <li>All 6 functional tests required are complete and passing.</li>
      </ol>
      <br>
      <img src='https://cdn.gomix.com/d7932c52-287f-4dae-b175-631fef453000%2FScreen%20Shot%202016-12-16%20at%201.35.56%20AM.png' />
    </div>
    <hr style='margin: 50px'>
    <div id ='libraryUIContainer'>
      
      <h2>Library Tools:</h2>
      
      <form action="/api/books" method="post" class="border">
        <h4>Add book to database</h4>
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title" class="formInput" value="">
        <input type="submit" value="Submit" class="formButton">
      </form>
      
      <form action="" method="post" id="commentBookForm" class="border">
        <h4>Add comment to book in database by id</h4>
        <label for="bookIdToComment">Book Id:</label>
        <input type="text" name="id" class="formInput" value="" id="bookIdToComment" placeholder="24 character alphanumeric Id" required>
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment" class="formInput" value="" maxlength="280" placeholder="280 characters maximum" required>
        <input type="submit" value="Submit" class="formButton">
      </form>
    
      <form id="deleteBookForm" class="border">
        <h4>Delete book by id</h4>
        <label for="bookIdToDelete">Book Id:</label>
        <input type="text" id="bookIdToDelete" name="_id" class="formInput" placeholder="24 character alphanumeric Id" required>
        <button type="submit" class="formButton">Delete Book</button>
        <div id="jsonResultDeleted"> </div>
      </form>
      
      <form id="deleteAllBooksForm" class="border">
        <h4>Delete all books in Library</h4>
        <button id='deleteAllBooksRequest' class="formButton">Delete all books...</button>
        <div id="jsonResultAllDeleted" class="alert"> 
          <p>
            Are you sure you want to delete <strong>ALL THE BOOKS</strong> in the library?
          </p>
          <button id="deleteAllBooks" class="formButton">Delete all books...</button>
        </div>
      </form>
      
      <form action="" method="get" id="viewBookForm" class="border">
        <h4>View book by id</h4>
        <label for="bookIdToView">Book Id:</label>
        <input type="text" id="bookIdToView" name="_id" class="formInput" placeholder="24 character alphanumeric Id" required>
        <button type="submit" class="formButton">View Book</button>
        <div id="jsonResultViewBook"> </div>
      </form>
      
      <form id="viewAllBooksForm" action='/api/books/' method='get' class="border">
        <h4>View all books in Library</h4>
        <button id='seeAllBooks' class="formButton">View all books...</button>
        <div id="jsonResultViewAllBooks"> </div>
      </form>
      
    </div>
    <hr style='margin: 50px'>
    <div id='sampleui'>
      <h2 style="text-align: left">Sample Front-End:</h2>
      
      <form id="newBookForm" class="border">
        <input type="text" id="bookTitleToAdd" name="title" class="formInput" placeholder="New Book Title" style="width: 295px">
        <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
      </form>
      
      <div id='display'></div>          
      <div id='bookDetail' class='border'>
        <p id='detailTitle'>Select a book to see it's details and comments</p>
        <ol id='detailComments'></ol>
      </div>
    </div>
    
    
    <hr style='margin: 50px'>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>           
    <script>
      /*
      *  For #sampleposting to update form action url to test inputs book id
      */
      $(function() {
         $('#commentBookForm').submit(function(){
           var id = $('#bookIdToComment').val();
           $(this).attr('action', "/api/books/" + id);
         });
        
        $('#viewBookForm').submit(function(){
           var id = $('#bookIdToView').val();
           $(this).attr('action', "/api/books/" + id);
         });
        
        $('#deleteBookForm').submit(function(e) {
          var id = $('#bookIdToDelete').val();
          e.preventDefault();
          $('#bookIdToDelete').val('')
          $.ajax({
            url: '/api/books/' + id,
            type: 'DELETE',
            success: function(data) {
              $('#jsonResultDeleted').text(JSON.stringify(data));
            }
          });
        });
        
        $('#deleteAllBooksRequest').click(function(e) {
          e.preventDefault();
          console.log('clicked')
          $('#jsonResultAllDeleted').css('opacity', 1)
        });
        
        $('#deleteAllBooks').click(function(e) {
          e.preventDefault();
          $.ajax({
            url: '/api/books/',
            type: 'DELETE',
            success: function(data) {
              $('#jsonResultAllDeleted').text(JSON.stringify(data));
            }
          });
        });
        
       });
   </script>
  </body>
</html>
